.splashScreenContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 430px;

    height: 100dvh;
    max-height: 932px;
    justify-content: center;

    background-color: #015F76;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.loadingContainer {
    width: clamp(100px, 30vw, 120px);
    height: clamp(100px, 30vw, 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    gap: 8px;
}

.loadingText {
    color: white;
    font-size: clamp(20px, 5vw, 24px);
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: 0.5px;
}